@media(max-width: 769px) {
    .video {
        width: 70vw;
    }
    .card_container {
        flex-wrap: wrap;
    }
    .card {
        overflow: auto;
        overflow-x: hidden;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .card_img {
        box-shadow: 0 2px 30px rgb(0 0 0/50%);
    }
    .back {
        position: static;
        opacity: 1;
        transform: rotateY(0deg);
    }
    .card:hover .front {
        transform: rotateY(0deg);
        opacity: 1;
    }
    .social-btns {
        position: static;
    }
}

@media(max-width: 644px) {
    nav.visible li:nth-child(1) {
        width: 230vw;
        height: 230vw;
    }
    nav.visible li:nth-child(2) {
        width: 170vw;
        height: 170vw;
    }
    nav.visible li:nth-child(3) {
        width: 110vw;
        height: 110vw;
    }
    nav.visible li:nth-child(4) {
        width: 50vw;
        height: 50vw;
    }
    nav.visible li:nth-child(1) a {
        line-height: 370vw !important;
        text-indent: 35vw !important;
    }
    nav.visible li:nth-child(2) a {
        line-height: 265vw !important;
        text-indent: 28vw !important;
    }
    nav.visible li:nth-child(3) a {
        line-height: 160vw !important;
        text-indent: 18vw !important;
    }
    .about_text {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    .about_text img {
        justify-content: center;
    }
    .video {
        width: 80vw;
    }
}
